@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');


body{
    margin:0px;
}

.container{
    margin: 0 120px;
}

.name-manu{
    display: flex;
 
    align-items: center;
    justify-content: space-between;
    
}

.nav-bar{

    width: 463px;
    height: 36px;
    align-items: center;
    display: flex;
    
    justify-content: space-evenly;

}

    


.nav-bar a {
  text-decoration: none;
  color: black;
  font-size: 20px;
    
}

/* top-header */

.top-header{
    display: flex;
    justify-content:content;
    align-items: center;
    width: 100%;

}

.top-info{
    width: 50%;
 
    margin-left: 120px;
}

.title{
font-family: Poppins;
font-size: 52px;
font-weight: 700;
line-height: 70px;
letter-spacing: 0px;
text-align: left;


}

.title-dis{
font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0px;
text-align: left;

}
.butoon-process {
    background-color: rgba(224, 44, 109, 1);
    border: none;
    width: 196px;
    height: 44px;
    left: 120px;
    border-radius: 41px;
    top: 511px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 24px;
    gap: 8px;
    align-content: flex-start;
    justify-content: space-around;
}

.top-image{
  background-image: url(images/Back\ shape.png);
  background-repeat: no-repeat;
  background-size: cover;
   
}

.top-image img{
    height: 414px;
    width:440px;
}

.add-bar{
    margin-top:20px;
    margin-bottom:10px;
    display:flex;

   justify-content:center;
}

/*-------------------- popular items---------------- */

.popular-section{
    margin-top: 20px;
}

.popular-p{
    font-size:30px;
    text-align: center;
    font-family: Poppins;
    margin-top: 10px;
    margin-bottom: 20px;
}
.popular-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2px;
    column-gap: 2px;
}
.popular-item{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  

  
}

.item-image {
   display:grid;
   margin-top: 20px;;
   justify-content: center;

}
.item-image img{
    width: 300px;
    height:256px;
    
 


}

.item-info {
    margin-left: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-name{
    font-size:25px;
    font-weight:600;
}

.item-price{
    font-size:20px;
    font-weight:400;
}

.item-reating{
    color: #FB8200;
}

.arro-sign {
    color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 30px;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    letter-spacing: 2px;
}


@media screen and (max-width: 320px) {
     body{
        background-color: red;
     }  


   

    .popular-items{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2px;
        column-gap: 2px;
        width: 100%;
    }

    section.popular-section {
        margin-left: 20px;
    }

    .item-info {
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }


    .container{
    
        margin-left: 5px;
        margin-right: 5px;
    }
    
      
    .item-image img {
        display:grid;
        margin-top: 20px;;
       width:100%;
   
     
     }
        
     
    
    

}
